[package]
name = "dangerous"
version = "0.5.0"
authors = ["avitex <avitex@wfxlabs.com>"]
edition = "2018"
description = "Safely and explicitly parse untrusted / dangerous data"
categories = ["no-std", "parsing"]
documentation = "https://docs.rs/dangerous"
homepage = "https://github.com/avitex/rust-dangerous"
repository = "https://github.com/avitex/rust-dangerous"
license = "MIT"
readme = "README.md"
include = ["src/**/*", "tests/**/*", "benches/**/*", "examples/**/*", "README.md", "LICENSE", "Cargo.toml"]

[features]
default = ["full-context", "bytecount", "unicode"]
# Enables `std::error::Error` implementation for errors.
std = []
# Enables allocations.
alloc = []
# Enables improved unicode printing support.
unicode = ["unicode-width"]
# Enables full context backtraces.
full-context = ["alloc"]

[dependencies]
bytecount = { version = "0.6", optional = true }
unicode-width = { version = "0.1", optional = true }

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "reader"
harness = false

[[bench]]
name = "context"
harness = false

[[example]]
name = "json"
required-features = ["std"]

[[example]]
name = "streaming"
required-features = ["std"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
